body {
  background-color: black;
}

#score-container {
  margin-top: 2em;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}


#board {
  table-layout: fixed;
  width: 35%;
  border: 0.2em solid #00ff36;
  border-collapse: collapse;
}

#board td {
  width: 4.375%;
  position: relative;
  z-index: -1;
}

td:after{
  content: '';
  display: block;
  margin-top: 100%;
}

.player1 {
  color: red;
}

.player2 {
  color: blue;
}

#board tr:nth-child(odd) td:nth-child(even), #board tr:nth-child(even) td:nth-child(odd){
  background-color: white;
}

.turn {
  margin: 2em;
}


.piece {
  width: 90%;
  height: 90%;
  border-radius: 100%;
  margin: auto;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.selected {
  background-color: #00ff36;
}

.king:after {
  color: #00ff36;
  font-weight: bolder;
  position: absolute;
  left: 38%;
  top: 37%;
  content: "K";
}


button {
  height: 3em;
  width: 12em;
  color: #00ff36;
  font-size: 12px;
  background-color: black;
  border: 4px solid #00ff36;
  border-radius: 1em;
  font-family: inherit;
  line-height: inherit;
}

button:hover {
  color: black;
  background-color: #00ff36;
}
