body {
  background-color: black;
}

#game-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 100%;
  max-width: 50em;
}

button {
  width: 8em;
  color: #00ff36;
  border: 3px solid #00ff36;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button:hover {
  color: black;
  background-color: #00ff36;
  cursor: pointer;
}

#status-container {
  display: none;
}

#status-container p {
  display: inline-block;
  padding-left: 5em;
  padding-right: 5em;
}

.winning {
  color: #00ffd4;
}

.losing {
  color: #f600ff;
}

#pic-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 100%;
  max-width: 60em;
}

#text-pic {
  font-size: 1em;
}

#pic {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 60em;
}

#directions {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  margin-left: 20%;
  margin-right: 20%;
}

#start-game {
  margin-top: 2em;
}

#end-game {
  display: none;
  table-layout: fixed;
  margin-top: 2em;
  width: 100%;
}

.blinking {
		    -webkit-animation: blink 1.5s step-end infinite;
		            animation: blink 1.5s step-end infinite;
}

@-webkit-keyframes blink { 50% { visibility: hidden; }}
@keyframes blink { 50% { visibility: hidden; }}
