body {
  background-color: black;
  color: #00ff36;
  font-family: 'Press Start 2P', arial;
  text-align: center;
  margin: 0;
}


nav {
  background-color: rgba(0,0,0,0.5);
  height: 2.5em;
  width: 100%;
  text-align: center;
  padding-top: 5px;
}

.back-link {
  position: absolute;
  color: #00ff36;
  float: left;
  padding: 0.5em;
}

.back-link:hover {
  opacity: 0.8;
}

.back-link:visited {
  text-decoration: none;
}

#title-small {
  height: 2em;
  margin-left: auto;
  margin-right: auto;
}

#title-small:hover {
  opacity: 0.8;
}


#game-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 100%;
  max-width: 50em;
}

td {
  max-width: 5em;
}

button {
  width: 8em;
  color: #00ff36;
  border: 3px solid #00ff36;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button:hover {
  color: black;
  background-color: #00ff36;
  cursor: pointer;
}

#status-container {
  display: none;
}

#status-container p {
  display: inline-block;
  padding-left: 5em;
  padding-right: 5em;
}

.winning {
  color: #00ffd4;
}

.losing {
  color: #f600ff;
}

#pic-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 100%;
  max-width: 60em;
}

#text-pic {
  font-size: 1em;
}

#pic {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 60em;
}

#directions {
  display: none;
  table-layout: fixed;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 78%;
}

#start-game {
  margin-top: 2em;
}

#end-game {
  display: none;
  table-layout: fixed;
  margin-top: 2em;
  width: 100%;
}

.blinking {
		    -webkit-animation: blink 1.5s step-end infinite;
		            animation: blink 1.5s step-end infinite;
}

@-webkit-keyframes blink { 50% { visibility: hidden; }}
@keyframes blink { 50% { visibility: hidden; }}
