body {
  background-color: black;
  color: #00ff36;
  font-family: 'Press Start 2P', arial;
  text-align: center;
  margin: 0;
}


nav {
  background-color: rgba(0,0,0,0.5);
  height: 2.5em;
  width: 100%;
  text-align: center;
  padding-top: 5px;
}

.back-link {
  position: absolute;
  color: #00ff36;
  float: left;
  padding: 0.5em;
}

.back-link:hover {
  opacity: 0.8;
}

.back-link:visited {
  text-decoration: none;
}

#title-small {
  height: 2em;
  margin-left: auto;
  margin-right: auto;
}

#title-small:hover {
  opacity: 0.8;
}

#game-container {
  margin-left: 3em;
  margin-top: 4em;
  display: flex;
  align-items: stretch;
}

#status-container {
  text-align: left;
}

#status-container p {
  padding-top: 1em;
}

#maze-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12em;
}

#params {

}

.params-item {
  display: inline-block;
}

#size {
  width: 4em;
  padding-left: 0.8em;
  background-color: transparent;
  border: 2px solid #42f450;
  color: #42f450;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#generate {
  background-color: #42f450;
  color: black;
  border: 0px solid #42f450;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  height: 1.5em;
}

#generate:hover {
  opacity: 0.8;
  cursor: pointer;
}

#maze {
  width: 50%;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  border-right: 2px solid #42f450;
  border-top: 2px solid #42f450;
  border-left: 2px solid #42f450;
  border-bottom: 2px solid #42f450;
}

.no-left {
  border-left: 0px solid #42f450;
}

.no-right {
  border-right: 0px solid #42f450;
}

.no-top {
  border-top: 0px solid #42f450;
}

.no-bottom {
  border-bottom: 0px solid #42f450;
}

#finish {
  border: 0px solid transparent;
}

#finish p {
  white-space: nowrap;
  padding-left: 1em;
  position: absolute;
  transform: translate(0px, -1em);
}

#player {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

#player-img {
  display: flex;
  align-items: center;
  height: 15em;
  width: 15em;
  margin-bottom: 1em;
  border: 2px solid #00ff36;
}
