body {
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

body:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 5%;
    bottom: 0;
    left: 50%;
    border-left: 6px dashed #09f749;
}

#pong {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#menu-container {
  position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
}

#games {
  background: url("../img/menu-plate.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 46vw;
  height: 28vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em;
}

#games table {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em;
}

.game-row {
  display: flex;
  justify-content: space-around;
}

.game:hover {
  cursor: pointer;
}


button {
  font-family: 'VT323', 'arial';
  height: 2.5em;
  width: 5.5em;
  background: none;
  border: none;
  outline: none;
  font-size: 40px;
  white-space: nowrap;
  padding: 10px;
  box-shadow: 5px 0px #133DB9, -5px 0px #133DB9, 0px 5px #133DB9, 0px -5px #133DB9, 10px 5px #2979FF, 10px 15px #2979FF, 5px 10px #2979FF, 15px 10px #2979FF;
  background: #133DB9;
  color: #09f749;
  transition: box-shadow 0.1s, background 0.1s, padding 0.1s;
}

button:hover {
  box-shadow: 5px 0px #e242f4, -5px 0px #e242f4, 0px 5px #e242f4, 0px -5px #e242f4, 10px 5px #2979FF, 10px 15px #2979FF, 5px 10px #2979FF, 15px 10px #2979FF;
  background: #e242f4;
  color: #133DB9;
  cursor: pointer;
}

button:active {
  box-shadow: 5px 5px #e242f4, -5px 5px #e242f4, 0px 10px #e242f4, 0px 0px #133DB9, 10px 5px #2979FF, 10px 15px #2979FF, 5px 10px #2979FF, 15px 10px #2979FF;
  background: #e242f4;
  padding-top: 15px;
  padding-bottom: 5px;
  transition: box-shadow 0.1s, background 0.1s, padding 0.1s;
}

@media screen and (max-width: 800px) {
  #games {
    width: 82vw;
    height: 42vw;
  }

  /* button {
    font-size: 99%;
    width: 26vw;
    height: 10vw;
    padding-left: 5px;
  } */

}
