body {
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}


#score-container {
  position: absolute;
  margin-left: 2em;
  text-align: left;
}
