body {
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #09f749;
}

.container {
  text-align: center;
}

#title-container {
  margin-top: 9em;
}

#english-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 50em;
}

#jap-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 40em;
}

#start {
  display: block;
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
  height: 5em;
}
