body {
  background-color: black;
  overflow: scroll;
}

#game-container {
  margin-left: 3em;
  margin-top: 4em;
  display: flex;
  align-items: stretch;
  margin-bottom: 5em;
}

#status-container {
  text-align: left;
  width: 15vw;
}

#status-container p {
  padding-top: 1em;
}

#maze-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10em;
}

.params-item {
  display: inline-block;
}

#size {
  width: 4em;
  padding-left: 0.8em;
  background-color: transparent;
  border: 2px solid #42f450;
  color: #42f450;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#generate {
  background-color: #42f450;
  color: black;
  border: 0px solid #42f450;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  height: 1.5em;
}

#generate:hover {
  opacity: 0.8;
  cursor: pointer;
}

#maze {
  width: 50vw;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  position: relative;
  border-right: 2px solid #42f450;
  border-top: 2px solid #42f450;
  border-left: 2px solid #42f450;
  border-bottom: 2px solid #42f450;
}

td:after{
  content: '';
  display: block;
  margin-top: 100%;
}

.no-left {
  border-left: 0px solid #42f450;
}

.no-right {
  border-right: 0px solid #42f450;
}

.no-top {
  border-top: 0px solid #42f450;
}

.no-bottom {
  border-bottom: 0px solid #42f450;
}

#finish {
  display: none;
  align-self: flex-end;
}

#player {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

#player-img {
  display: flex;
  align-items: center;
  height: 15em;
  width: 15em;
  margin-bottom: 1em;
  border: 2px solid #00ff36;
}

.square {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
